@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(135deg, #EC9F05, #FF4E00);
	overflow-x: hidden;
}

.container {
	max-width: 700px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 5px;
	background-color:rgba(255, 255, 255, 0.75);
}
.container .title{
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.container .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
}

.container form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .user-details .input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 -20px);
}

.user-details .input-box .details {
	display: block;
	font-weight: 500px;
	margin-bottom: 5px;
}

.user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

/* Highlight focused field */
.user-details .input-box input:focus,
.user-details .input-box input:valid{
	border-color: rgb(255, 174, 0);
}

/* Custom radio buttons */
form .gender-details .gender-title{
	font-size: 20px;
	font-weight: 500;
}

form .gender-details .category{
	display: flex;
	width: 80%;
	background: fixed;
	margin: 14px 0;
	justify-content: space-between;
}

.gender-details .category label{
	display: flex;
	align-items: center;
}

.gender-details .category .dot{
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
	border-color: #d9d9d9;
	background: #EC9F05;
}

form input[type="radio"]{
	display: none;
}

/* Select menu for location */
select{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
}

form .location .location-title{
	font-size: 20px;
	font-weight: 500;
}

/* Submit button */
form .button {
	height: 45px;
	margin: 45px 0;
}

form .button input{
	height: 100%;
	width: 100%;
	outline: none;
	color: rgb(255, 255, 255, 0.75);
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #EC9F05, #FF4E00);
}

form .button input:hover{
	background: linear-gradient(-135deg, #EC9F05, #FF4E00);
}

/* Scaling for mobile */
@media (max-width: 584px){
	.container{
		max-width: 100%;
	}
	form .user-details .input-box{
		margin-bottom: 15px;
		width: 100%;
	}
	form .gender-details .category{
		width: 100%;
	}
	.container form .user-details{
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar{
		width: 0;
	}
}

/* Waves from: https://codepen.io/tedmcdo/pen/PqxKXg */
.ocean { 
	height: 5%;
	width:100%;
	position:absolute;
	bottom:-20px;
	left:0;
	background: #015871;
 }

.wave {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
	position: absolute;
	top: -198px;
	width: 6400px;
	height: 198px;
	animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
 }
 
 .wave:nth-of-type(2) {
	top: -120px;
	animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.8s infinite, swell 7s ease -1.25s infinite;
	opacity: 1;
 }
 
 @keyframes wave {
	0% {
	  margin-left: 0;
	}
	100% {
	  margin-left: -1600px;
	}
 }
 
 @keyframes swell {
	0%, 100% {
	  transform: translate3d(0,-20px,0);
	}
	50% {
	  transform: translate3d(0,5px,0);
	}
 }